body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: 'Crimson Text', serif;
}

h1 {
  font-size: 40px;
  color: #FF47FF;
  display: inline;
}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

.clear-fix {
  overflow: auto;
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #484848;
}

.color-text {
	color: #FF47FF;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.center-content {
  padding: 2.5% 5%;
}

#chart {
  width: 600px;
  height: 1200px;
}